@model IEnumerable<Lab11_MVC_App.Models.PersonOfYear>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time magazine person of the year</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Oswald:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Honor</th>
                <th>Name</th>
                <th>Country</th>
                <th>Birth Year</th>
                <th>Death Year</th>
                <th>Title</th>
                <th>Category</th>
                <th>Context</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Year</td>
                    <td>@person.Honor</td>
                    <td>@person.Name</td>
                    <td>@person.Country</td>
                    @if (person.Birth_Year == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@person.Birth_Year</td>
                    }
                    @if (person.DeathYear == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@person.DeathYear</td>
                    }
                    <td>@person.Title</td>
                    <td>@person.Category</td>
                    <td>@person.Context</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
